# Исключаем системные файлы
.DS_Store
Thumbs.db

# Node.js папка
node_modules/

# Конфигурации окружения
.env

# Логи
*.log

# Файлы IDE
.vscode/
.idea/
chat_output.jsonl
converter.js
Пособие_электронная_версия_дополненная.txt
prompt.txt
FZ_565.txt
keywords.txt
relevanceChecker.js